services:
    frontend:
        image: firstdorsal/public-transport-frontend
        labels:
            traefik.enable: "true"
            traefik.http.routers.trams-frontend.tls.certresolver: "default"
            traefik.http.routers.trams-frontend.tls.domains[0].main: "vindelicum.eu"
            traefik.http.routers.trams-frontend.tls.domains[0].sans: "*.vindelicum.eu"
            traefik.http.routers.trams-frontend.rule: "Host(`trams.vindelicum.eu`)"
            traefik.http.routers.trams-frontend.entrypoints: "websecure"
            traefik.http.services.trams-frontend.loadbalancer.server.port: "80"
            traefik.docker.network: rp
        networks:
            - rp
        restart: unless-stopped
    backend:
        image: firstdorsal/public-transport-backend
        labels:
            traefik.enable: "true"
            traefik.http.routers.trams-backend.tls.certresolver: "default"
            traefik.http.routers.trams-backend.tls.domains[0].main: "vindelicum.eu"
            traefik.http.routers.trams-backend.tls.domains[0].sans: "*.vindelicum.eu"
            traefik.http.routers.trams-backend.rule: "Host(`trams-backend.vindelicum.eu`)"
            traefik.http.routers.trams-backend.entrypoints: "websecure"
            traefik.http.services.trams-backend.loadbalancer.server.port: "3000"
            traefik.docker.network: rp
        networks:
            - rp
        restart: unless-stopped
    tileserver:
        image: ghcr.io/maplibre/martin:v0.13.0
        volumes:
            - ./data/maptiles:/mbtiles:ro
            - ./data/fonts:/fonts:ro
            - ./data/sprites:/sprites:ro
        command: /mbtiles --font /fonts --sprite /sprites
        labels:
            traefik.enable: "true"
            traefik.http.routers.trams-tileserver.tls.certresolver: "default"
            traefik.http.routers.trams-tileserver.tls.domains[0].main: "vindelicum.eu"
            traefik.http.routers.trams-tileserver.tls.domains[0].sans: "*.vindelicum.eu"
            traefik.http.routers.trams-tileserver.rule: "Host(`trams-tileserver.vindelicum.eu`)"
            traefik.http.routers.trams-tileserver.entrypoints: "websecure"
            traefik.http.services.trams-tileserver.loadbalancer.server.port: "3000"
            traefik.docker.network: rp
        networks:
            - rp
        restart: unless-stopped
networks:
    rp:
        external: true
